<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper

PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"

"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="SqlData">
 <select id="select_all" resultType="mybatis.java.dto.UserDTO">
  select * from mybatistest;
 </select>
 
  <select id="us_id_select" parameterType="String" resultType="String">
  select us_id from userinfo where us_id=#{us_id};
 </select>
 
  <select id="us_nkname_select" parameterType="String" resultType="String">
  select us_nkname from userinfo where us_nkname=#{us_nkname};
 </select>
 
  <insert id="userinfo_insert" parameterType="mybatis.java.dto.UserDTO">
   insert into userinfo values(#{us_id}, #{us_pw}, #{us_name}, #{us_nkname}, #{us_birth}, #{us_tel}, #{us_telagr}, #{us_mail}, #{us_mailagr}, #{us_adr}, #{us_pic});
 </insert>
 
 <select id="login" parameterType="String"  resultType="String">
  select us_pw from userinfo where us_id = #{us_id};
 </select>
 
  <select id="select_get_us_nkname" parameterType="String"  resultType="String">
  select us_nkname from userinfo where us_id = #{us_id};
 </select>
 
  <select id="select_QnA" resultType="mybatis.java.dto.QnABBS">
  select qna_num,qna_title,qna_nickname,qna_time from qna order by qna_num desc;
 </select>
 
  <select id="select_QnA_content" resultType="mybatis.java.dto.QnABBS" parameterType="Integer">
  select * from qna where qna_num = #{qna_num};
 </select>
 
 <select id="select_one" resultType="mybatis.java.dto.UserDTO" parameterType="String">
  select * from mybatistest where ex01 = #{ex01}
 </select>
 <insert id ="insert_data" parameterType="mybatis.java.dto.UserDTO">
  insert into mybatistest values(#{ex01},#{ex02},#{ex03});
 </insert>
 
  <insert id ="insert_qna" parameterType="mybatis.java.dto.QnABBS">
  insert into qna values(#{qna_nickname},#{qna_post},default,#{qna_title},now());
 </insert>
 
 <update id="update_data" parameterType="mybatis.java.dto.UserDTO">
  update mybatistest set ex01 = #{ex01},ex02 = #{ex02}, ex03= #{ex03} where ex01 = #{ex01} ;
 </update>
 
  <update id="update_QnA" parameterType="mybatis.java.dto.QnABBS">
  update qna set qna_title = #{qna_title},qna_post = #{qna_post} where qna_num = #{qna_num} ;
 </update>
 
 <delete id="delete_data" parameterType="Integer">
  delete from mybatistest where ex01= #{ex01};
 </delete>
</mapper>